@model IEnumerable<EF.CodeFirstApproach.DomainModels.MedicinePrice>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PharmacyAddress.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PharmacyAddress.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
        }
    </tbody>
</table>